# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

# Build output
/dist
/build
/out

# Operating system files
.DS_Store
Thumbs.db

*.code-workspace