/* Structural layout and positioning styles */

#map {
  position: sticky;
  margin-top: 7px;
  margin-bottom: 7px;
  height: 450px;
}

.container-head {
  padding: 5px;
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: space-between; /* Space buttons evenly */
  align-items: center; /* Center vertically */
}

.rect {
  text-align: center;
  width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #eebaba; /* Green */
  border: 1px dashed black;
  border-spacing: 5px;
}

.container-count {
  width: 600px;
  display: flex;
  justify-content: space-around;
}